* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    background-image: url('https://images.pexels.com/photos/963278/pexels-photo-963278.jpeg?cs=srgb&dl=pexels-david-bartus-43782-963278.jpg&fm=jpg'); 
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: left;
    font: 1em sans-serif;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 37px 20px;
    background-color: #FFD700;
    color: black;
}

.cta-buttons .btn {
    padding: 15px 30px;
    background-color: #ff8c00;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
    display: inline-block;
}

.cta-buttons .btn:hover {
    background-color: #cc6c00;
}

.form-section {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #FFD700;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #FFD700;
}

.events-section {
    padding: 50px 20px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 10px;
    margin: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
